


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-sub-header{
  font-size: small;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.col-6 {
  grid-column: span 6;
}


.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.App-intro {
  font-size: xx-large;

  text-transform: uppercase;
}

